@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.navbar .search-nav {
  margin-left:auto;
}

.navbar .login {
  margin-left:auto;
}


.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.book-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.book-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.book-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.book-preview a {
  text-decoration: none;
}

/* blog details page */
.book-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.book-details div {
  margin: 20px 0;
}
.book-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* addBook new blog form */
.addBook {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.addBook label {
  text-align: left;
  display: block;
}
.addBook h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.addBook input, .addBook textarea, .addBook select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.addBook button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* SearchForm */

.search-form input, .search-form textarea, .search-form select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
}
.search-form button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;  
}

/* Login Button */
.login-button button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
}

.login-button button:hover {
  background: #e0245e; /* Slightly darker shade on hover */
}

/* CSS for the Logout button */
.logout-button {
  background: #f1356d;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  margin-left: 8px; /* Add a small margin to separate it from the Login button */
}

.logout-button:hover {
  background-color: #d12b57; /* Darker shade for hover */
}

/* CSS for the Test button */
.test-button {
  background: #f1356d;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  margin-left: 8px; /* Add a small margin to separate it from the Logout button */
}

.test-button:hover {
  background-color: #d12b57; /* Darker shade for hover */
}